.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
docs/Workshop2024Mar26/koshi*.pdf
docs/Workshop2024Mar26/code/Appendix_DGP/DGP/DGPG*.csv
docs/libs
analysis/figure
analysis/*png
analysis/*html
analysis/program/*html
analysis/*_cache
analysis/site_libs
analysis/program/2026*
analysis/program/other
analysis/program/IRP5Condense_WithTaxrefno.rmd
analysis/program/Deliverable*
analysis/program/_extensions
analysis/draft/test_both_outputs_files/*
analysis/program/scratch*
source/**/
program0/
